/* =========================
   Avatar
========================= */

.avatar {
    width: 230px;
    height: 230px;

    object-fit: cover;

    border-radius: 50%;

    display: block;
}


/* =========================
   Timeline
========================= */

.timeline-item {
    display: flex;

    gap: 50px;

    padding: 30px 0;

    border-top: 1px solid #eeeeee;
}


.timeline-date {
    min-width: 130px;

    color: #888;

    font-size: 14px;
}


.timeline-content h3 {
    font-size: 22px;

    margin-bottom: 8px;
}


.timeline-content p {
    color: #666;

    margin-bottom: 5px;
}


/* =========================
   Publication Role
========================= */

.publication-role {
    color: #555 !important;

    font-size: 13px !important;

    margin-top: 8px;
}


/* =========================
   Achievement
========================= */

.achievement-grid {
    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 25px;
}


.achievement-card {
    padding: 30px;

    border: 1px solid #eeeeee;

    background: white;
}


.achievement-card h3 {
    font-size: 20px;

    margin-bottom: 12px;
}


.achievement-card p {
    color: #666;

    font-size: 15px;
}


/* =========================
   Mobile
========================= */

@media (max-width: 768px) {

    .timeline-item {
        flex-direction: column;

        gap: 10px;
    }


    .achievement-grid {
        grid-template-columns: 1fr;
    }


    .avatar {
        width: 180px;
        height: 180px;
    }

}
